/* All @imports MUST be at the very top */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Now you can safely import your custom file */
@import "./component.css";
@import "./modal.css";

.si {
  display: inline-block;
  vertical-align: middle;
}

.si svg {
  width: 100%;
  height: 100%;
}
